* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  width: 100%;
  position: absolute;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 60px;
}
.cozy {
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 10px;
}
.shelter {
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 15px;
  font-weight: 400;
  font-family: "Arial";
  color: #fff;
}

.nav-header {
  display: flex;
}
.nav-header li {
  list-style: none;
  margin-right: 35px;
}
.nav-header a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 15px;
  font-family: "Arial";
  line-height: 24px;
  font-weight: 400;
}
.nav-header li a:hover {
  color: #fff;
}
nav .burger {
  display: none;
}
nav .burger {
  display: none;
}
.nav-header li:first-child a:hover {
  border: none;
}
.nav-header li:first-child a {
  border-bottom: #f1cdb3 solid 3px;
  color: #fafafa;
}
.nav-header li:last-child {
  margin-right: 0;
}
.hero {
  background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
  padding-top: 180px;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-wrapper__text {
  width: 39%;
  margin-top: 163px;
}
.hero-wrapper__text h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  width: 73%;
  color: #fff;
}
.hero-wrapper__text p {
  font-family: "Arial";
  color: #cdcdcd;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  margin: 42px 0 41px;
}
.hero-wrapper__text a {
  background-color: #f1cdb3;
  text-decoration: none;
  color: #292929;
  display: block;
  font-size: 17px;
  line-height: 22px;
  padding: 15px 45px;
  border-radius: 100px;
  width: 44%;
  text-align: center;
  letter-spacing: 0.05em;
}
.hero-wrapper__text a:hover {
  background-color: #fddcc4;
}
.hero-wrapper__image img {
  display: block;
}
.about {
  background-color: #fff;
}
.about-wrapper {
  padding: 80px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-wrapper__image {
  margin-right: 126px;
}
.about-wrapper__text {
  width: 36%;
}
.about-wrapper__text h2 {
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 400;
  margin-bottom: 25px;
  width: 86%;
}
.about-wrapper__text p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
}
.text-1 {
  margin-bottom: 25px;
}
.pets {
  background-color: #f6f6f6;
  padding: 80px 0 100px;
}
.pets h2 {
  color: #545454;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  text-align: center;

  width: 34%;
  margin: 0 auto;
}
.pets .string {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pets-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  align-items: center;
}
.pets-wrapper__left {
  background-image: url(../images/left.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  border-radius: 100px;
  background: transparent;
  background-image: url(../images/left.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.pets-wrapper__cards {
  display: flex;
  justify-content: space-between;
  width: 83%;
}
.pets-wrapper__card {
  background-color: #fafafa;
  width: 28%;
  padding: 300px 0 30px;
}

.pets-wrapper__cards .pets-name {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;

  text-align: center;
}
.pets-wrapper__card a {
  color: #292929;
  line-height: 22px;
  font-size: 17px;
  display: block;
  margin: 0 auto;
  width: 70%;
  text-decoration: none;
  text-align: center;
  padding: 13px 41px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;

  font-weight: 400;
  letter-spacing: 0.06em;
}
.pets-wrapper__card a:hover {
  background-color: #fddcc4;
}
.pets-wrapper__card:hover {
  background-color: #fff;
}
.katrine {
  background-image: url(../images/pets-katrine.jpg);
  background-repeat: no-repeat;
}
.jennifer {
  background-image: url(../images/pets-jennifer.jpg);
  background-repeat: no-repeat;
}
.woody {
  background-image: url(../images/pets-woody.jpg);
  background-repeat: no-repeat;
}
.pets-wrapper__right {
  background-position: center;

  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  border-radius: 100px;
  background: transparent;
  background-image: url(../images/right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pets-wrapper__right:hover,
.pets-wrapper__left:hover,
.pets-button:hover {
  background-color: #fddcc4;
}

.pets-button {
  line-height: 22px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  width: 22%;

  background-color: #f1cdb3;
  border-radius: 100px;
  border: none;
  display: block;
  padding: 15px 45px;
  text-decoration: none;
  margin: 0 auto;
}
.help {
  background-color: #fff;
  padding: 80px 0 98px;
}
.help__heading {
  margin: 0 auto;
  width: 26%;
  margin-bottom: 5px;
}
.help__heading h2 {
  letter-spacing: 0.06em;
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
}
.help-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.help-wrapper__icon {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 55px 60px 0;
  text-align: center;
}

.icon1 {
  background-image: url(../images/icon1.svg);
}
.icon2 {
  background-image: url(../images/icon2.svg);
}
.icon3 {
  background-image: url(../images/icon3.svg);
  width: 60px;
  height: 60px;
}
.icon4 {
  background-image: url(../images/icon4.svg);
}
.icon5 {
  background-image: url(../images/icon5.svg);
}
.icon6 {
  background-image: url(../images/icon6.svg);
}
.icon7 {
  background-image: url(../images/icon7.svg);
}
.icon8 {
  background-image: url(../images/icon8.svg);
}
.icon9 {
  background-image: url(../images/icon9.svg);
}
.help-wrapper__text {
  font-weight: 400;
  line-height: 23px;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
}
.donate {
  background-color: #f6f6f6;
  padding: 80px 0 100px;
}
.donate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate-wrapper__text {
  width: 32%;
  margin-left: 30px;
}
.donate-wrapper__text h2 {
  line-height: 46px;
  letter-spacing: 0.06em;
  color: #545454;
  font-size: 35px;
  font-weight: 400;
  width: 79%;
}
.donate-wrapper__text .name-card {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  line-height: 17px;
  margin: 20px 0;
}
.donate-wrapper__text .number-card {
  background-color: #f1cdb3;
  border-radius: 9px;
  display: inline-block;
  position: relative;

  padding: 10px 15px 10px 60px;
  font-size: 20px;
  color: #545454;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-weight: 400;
  margin-bottom: 20px;
}

.donate-wrapper__text .number-card::before {
  content: url(../images/credit-card.svg);

  display: inline-block;
  position: absolute;
  left: 15px;
}
.information-card {
  color: #b2b2b2;
  font-family: "Arial";
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}
footer {
  background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
  padding-top: 40px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper__contacts {
  width: 24%;
  padding-top: 14px;
}
.footer-wrapper__contacts h2 {
  margin-bottom: 40px;
}
.footer-wrapper__navigation h2 {
  margin-bottom: 34px;
}
.footer-wrapper__contacts h2,
.footer-wrapper__navigation h2 {
  color: #fff;
  line-height: 46px;
  letter-spacing: 0.06em;
  font-size: 35px;
  font-weight: 400;
}
.footer-wrapper__navigation {
  width: 26%;
  padding-top: 14px;
}

.footer-wrapper__contacts .tel {
  display: inline-block;
  margin-top: 40px;
}
.footer-wrapper__navigation .adress2 {
  display: inline-block;
  margin-top: 32px;
}
.footer-wrapper__navigation a,
.footer-wrapper__contacts a {
  color: #f1cdb3;
  font-size: 20px;
  font-weight: 400;

  letter-spacing: 0.06em;
  text-decoration: none;
}
.footer-wrapper__image img {
  display: block;
}
.tel,
.mail,
.adress1,
.adress2 {
  position: relative;
}
.mail,
.tel {
  line-height: 32px;
  display: inline-block;
  padding-left: 60px;
}
.adress1,
.adress2 {
  padding-left: 42px;
  display: inline-block;
}
.adress1 {
  line-height: 23px;
}
.adress2 {
  line-height: 32px;
}

.mail::before {
  content: url(../images/icon-email.svg);
  position: absolute;
  left: 0;
}
.tel::before {
  content: url(../images/icon-phone.svg);
  position: absolute;
  left: 0;
}
.adress1::before,
.adress2::before {
  content: url(../images/icon-marker.svg);
  position: absolute;
  left: 0;
}

.adress1::before {
  top: 7px;
}

@media (max-width: 1230px) {
  .container {
    max-width: 97%;
  }
  .pets h2 p {
    text-align: center;
  }

  .hero-wrapper__text a {
    padding: 15px 35px;
  }
  .pets h2 {
    width: 60%;
  }
  .pets-wrapper__card {
    width: 270px;
  }
  .pets-button {
    width: 264px;
  }
  .footer-wrapper__contacts {
    width: 30%;
  }
  .footer-wrapper__navigation {
    width: 30%;
  }
}
@media (max-width: 1165px) {
  .hero-wrapper__text {
    width: 40%;
  }
  .hero-wrapper__text h1 {
    width: 100%;
  }
  .hero-wrapper__text a {
    width: 61%;
  }
  .help__heading {
    width: 40%;
  }
}
@media (max-width: 1028px) {
  .woody {
    display: none;
  }
  .pets-wrapper__cards {
    justify-content: center;
  }
  .katrine {
    margin-right: 50px;
  }
}
@media (max-width: 1002px) {
  .hero-wrapper__image {
    width: 50%;
  }
  .hero-wrapper {
    align-items: center;
  }
  .hero-wrapper__text {
    margin-top: 0;
  }
  .hero-wrapper__text a {
    width: 60%;
    padding: 15px 25px;
  }
  .footer-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-wrapper__image {
    margin-top: 60px;
  }
  .footer-wrapper__contacts,
  .footer-wrapper__navigation {
    width: 50%;
  }
}
@media (max-width: 866px) {
  .donate-wrapper__image {
    display: none;
  }
  .donate-wrapper__text h2 {
    margin: 0 auto;
    text-align: center;
  }
  .donate-wrapper__text {
    width: 80%;
    margin: 0;
  }

  .name-card {
    text-align: center;
  }
  .donate-wrapper__text .number-card {
    max-width: 350px;
    margin: 20px auto;
    display: block;
  }
  .donate {
    padding: 20px 0;
  }
}

@media (max-width: 808px) {
  .hero-wrapper .hero-wrapper__text {
    width: 60%;
  }
  .about-wrapper__image {
    margin-right: 50px;
  }
  .about-wrapper__text h2 {
    width: 100%;
  }
  .hero-wrapper__text a {
    width: 60%;
    padding: 15px 20px;
  }
  .katrine {
    margin-right: 10px;
  }
  .help__heading {
    width: 50%;
  }
}
@media (max-width: 717px) {
  .header-wrapper {
    padding: 30px 0;
  }
  .hero-wrapper__image {
    display: none;
  }
  .hero-wrapper__text a {
    margin: 0 auto;
    padding: 15px 5px;
    width: 50%;
  }

  .about {
    position: relative;
  }
  .about-wrapper {
    align-items: flex-end;
  }
  .about-wrapper__text {
    margin-top: 150px;
  }
  .about-wrapper__text h2 {
    position: absolute;
    display: inline-block;
    width: 40%;
    top: 20px;
    right: 30%;
    text-align: center;
  }
  .hero-wrapper {
    justify-content: center;
    text-align: center;
  }
  .nav-header li {
    margin-right: 20px;
  }
  .hero {
    padding: 120px 0 20px;
  }
  .jennifer {
    display: none;
  }
  .help {
    padding: 20px 0;
  }
}

@media (max-width: 644px) {
  nav .burger {
    display: block;
    position: relative;
    right: 40px;
  }
  .nav-header {
    display: none;
  }

  .about-wrapper {
    align-items: center;
  }
  .about-wrapper__text h2 {
    min-width: 50%;
    right: 24%;
    top: 40px;
  }
  .pets-wrapper {
    margin: 20px 0;
  }
  .pets {
    padding: 20px 0;
  }
  .pets-button {
    width: 200px;
    text-align: center;
  }
  .help__heading {
    width: 60%;
  }
}
@media (max-width: 620px) {
  .footer-wrapper__contacts,
  .footer-wrapper__navigation {
    width: 93%;
  }
  .contacts,
  .navigation {
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }
  .footer-wrapper__contacts h2,
  .footer-wrapper__navigation h2 {
    text-align: center;
  }
  .footer-wrapper__contacts a {
    display: block;
  }
  .footer-wrapper__navigation {
    justify-content: flex-start;
    width: 100%;
  }

  .navigation,
  .contacts {
    max-width: 320px;
  }
}

@media (max-width: 513px) {
  .hero-wrapper {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .hero-wrapper h1 {
    font-size: 30px;
    line-height: 40px;
    width: 100%;
  }
  .hero-wrapper__text a {
    padding: 15px 15px;
    width: 60%;
  }
  .about-wrapper__text {
    width: 0;
  }
  .about-wrapper__image {
    margin: 350px 0 0;
  }
  .about-wrapper__text p {
    position: absolute;
    width: 96%;
    top: 150px;
    left: 2%;
  }
  .about-wrapper__text .text-2 {
    top: 300px;
  }
  .about-wrapper__text h2 {
    width: 80%;
    right: 10%;
  }
  .about-wrapper {
    padding-bottom: 20px;
  }
  .help__heading {
    width: 70%;
  }
  .donate-wrapper__text h2 {
    font-size: 30px;
  }
  .pets h2 {
    width: 80%;
    line-height: 40px;
  }
}
@media (max-width: 449px) {
  .hero-wrapper__text a {
    width: 70%;
    padding: 15px 15px;
  }
  .hero-wrapper .hero-wrapper__text {
    width: 80%;
  }
  .hero-wrapper__text p {
    max-width: 400px;
  }
  .about-wrapper__image {
    margin-top: 400px;
  }
  .donate-wrapper__text h2 {
    line-height: 30px;
    font-size: 25px;
    width: 100%;
  }
}
@media (max-width: 409px) {
  .hero-wrapper__text h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .hero-wrapper__text a {
    width: 80%;
    padding: 15px 15px;
  }
  .about-wrapper__text h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .pets h2 {
    font-size: 25px;
  }
  .katrine {
    margin-right: 0;
  }
  .pets-button {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 327px) {
  .hero-wrapper__text h1,
  .about-wrapper__text h2 {
    font-size: 29px;
  }
}
